.features-container {
    background: hsl(221.1, 8.3%, 55.1%);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.wave {
    position: absolute;
    left: 0;
    bottom: -25%;
    width: 100%;
    z-index: -1;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    min-height: 90vh;

    .cards {
        display: flex;
        justify-content: space-between;
        color: hsl(0, 0%, 3.1%);

        .card {
            display: flex;
            flex-direction: column;
            background: hsl(0, 0%, 100%);
            text-align: center;
            margin: 0rem 3rem;
            border-radius: 2rem;
            overflow: hidden;

            h4 {
                margin: 2rem 0rem 1rem 0rem;
            }

            p {
                padding: 2rem;
            }

            img {
                object-fit: cover;
            }
        }
    }
}