.soon {
    background: radial-gradient(hsl(0, 0%, 75.3%), hsl(30, 33.3%, 4.7%));
    position: relative;
    min-height: 80vh;
    z-index: 0;

    img,
    .circle,
    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        transform: translate(-50%, -50%);
    }

    .circle {
        z-index: -1;
    }

    h2 {
        top: 61%;
    }
}